*{
    margin:0;
    padding:0;
}
div{
    border:1px solid gray;
    width:45%;
    text-align: center;
    float:left;
    height:200px;
    margin: 20px;
    background-color: #533452a8;
}


h1{
    background-color: rgb(88, 113, 122);
    color:rgb(235, 3, 3);
}

h2{
    text-align: center;
    text-shadow: black;
}


button{
    width: 160px;
    background-color: grey;
    color: white;
}

button:hover{
    background-color:black(137, 121, 151, 0.096);
    color:white;
}
img{
    width: 70px;
    height: 70px;
}

}
button:hover{
    background-color:white;
    color:gray;
}